/*style.css*/

.page 
{
	display: none;
}
#home.page
{
	display: block;
} 

body { 
    background: #D7F79C;
}


img{
    padding-bottom: 10px;
}

li
{
    list-style-type: none;
    padding: 0;
    margin: 0;
}
