/*style.css*/

.page 
{
	display: none;
}

.loginform cf 
{
    display: block;
} 

body { 
    margin-left: auto;
    margin-right: auto;
    width: 90%;
    background: #D7F79C;
}


img{
    padding-bottom: 10px;
}

li
{
    list-style-type: none;
    padding: 0;
    margin: 0;
}

ul
{
    list-style-type: none;
    padding: 0;
    margin: 0;
}
